

.contenIn .tableVer{
    width: 100%;
    margin-top: 10px;
    border-top: 3px solid #535353;
    font-size: 14px; 
}

.contenIn .title{
    height:50px;
    background-color: rgb(243, 243, 243);
  
   
}


.contenIn th{
    background-color: rgb(243, 243, 243);
    padding: 13px;
    width: 154px;
}

.contenIn  .t-file{
    height: 90px;
}


.contenIn .t-text{
    height: 300px;
    

}
.tableVer{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: black;
    text-align: center;

}



.contArea{
    height: 300px;
}


.conteIm{
    padding-top: 100px;
    padding-bottom: 40px;
}


.conteIm .t-text{
    width: 20%;
}
.conteIm .tit{

    text-align: center;
    
}

.container-fluid .row .board-table .butt{
	padding-top:30px;
	float:right;
	
	
	
}